#edit-choose-form {
	position: relative;

}
#edit-choose-form fieldset{
    padding: 10px;
}
#lc_logo {
    position: absolute;
    right: 10px;
    zoom: 0.7;
    width: 200px;
    background-size: cover;
    height: 110px;
    background: url(../images/logo.png) no-repeat 0 0;
}

ul#choose_form { margin-left: 0; padding-left: 0; }
ul#choose_form li { padding-left: 0; margin-left: 0; background: 0; list-style: none; }
ul#choose_form li label { display: inline; }
div.installed_ok { background: #e1fdc5 url(../images/tick.png) no-repeat 5px 1em; padding-left: 28px; border-color: #6ac611; }
div.installed_pending { background: #fcfce8 url(../images/warn.png) no-repeat 5px 1em; padding-left: 28px; border-color: #e5e58f; }
div.info { background: #fcfce8 url(../images/info.png) no-repeat 5px 1em; padding-left: 28px; border-color: #e5e58f; }

#robax-admin-settings-form .description { display: inline; padding-left: 5px; }

.ajax_message { display: none; background: url(../images/ajax_loader.gif) no-repeat 5px 60%; padding: 0; margin-top: 1em; }
.ajax_message.wait,
.ajax_message.message { display: block; }
.ajax_message.wait { text-indent: 28px; }
.ajax_message.message { background-image: none; text-indent: 0px; }

.btn a:link, .btn a:visited {
	display: inline-block;
	padding: 3px 10px;
	color: white;

	text-decoration: none;
	font-weight: normal;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	text-shadow: 1px 1px 0 #06a;
	border-top: 1px solid #4bf;
	border-bottom: 1px solid #39f;

	-moz-box-shadow: 0 1px 0 #39d, 0 -1px 0 #39d, 1px 0 0 #39d, -1px 0 0 #39d;
	-webkit-box-shadow: 0 1px 0 #39d, 0 -1px 0 #39d, 1px 0 0 #39d, -1px 0 0 #39d;
	box-shadow: 0 1px 0 #39d, 0 -1px 0 #39d, 1px 0 0 #39d, -1px 0 0 #39d;

	background: #4ae;
	background: -moz-linear-gradient(top,  #4ae,  #28d);
	background: -webkit-gradient(linear, left top, left bottom, from(#4ae), to(#28d));

}
.btn a:hover {
	text-decoration: none;
	border-top-color: #5cf;
	border-bottom-color: #3af;
	color: white;

	-moz-box-shadow: 0 1px 0 #4ae, 0 -1px 0 #4ae, 1px 0 0 #4ae, -1px 0 0 #4ae;
	-webkit-box-shadow: 0 1px 0 #4ae, 0 -1px 0 #4ae, 1px 0 0 #4ae, -1px 0 0 #4ae;
	box-shadow: 0 1px 0 #4ae, 0 -1px 0 #4ae, 1px 0 0 #4ae, -1px 0 0 #4ae;

	background: #4bf;
	background: -moz-linear-gradient(top,  #4bf,  #39d);
	background: -webkit-gradient(linear, left top, left bottom, from(#4bf), to(#39d));
}
.btn a:active,
.btn a:focus {
	/* margin-top: 1px did not work as intended under Chrome */
	position: relative;
	top: 1px;
}